@font-face {
  font-family: 'Goldman';
  src: url(../fonts/Goldman-Regular.woff2);
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.woff2);
}
@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: 'PressStart2P';
  src: url(../fonts/PressStart2P-Regular.woff2);
}