doctype html
html(lang="en")
  include components/head.pug
  body 
    include components/header.pug
      +nav('contact')
    main.contact
      .contact__bg
      .container 
        .row.contact__content
          .col-sm-8 
            h1.contact__title Contact me
            p.contact__text I am interested in freelance opportunities-especially ambitious or large projects. However, if you have other request or question, don`t hesilate to contact me using below form either. 
            form(action="").row
              .col-md-6.col-12 
                input(type="text" placeholder="name").contact__input
              .col-md-6.col-12 
                input(type="text" placeholder="email").contact__input
              .col-12 
                input(type="text" placeholder="subject").contact__input
                textarea(placeholder="message").contact__textarea
                button.contact__button(type="submit") send
          .col-sm-4.contact__right 
            svg(width="190" height="231" viewBox="0 0 190 231" fill="none" xmlns="http://www.w3.org/2000/svg").contact__logo
              path(d="M0 134.421L94.6223 107.886L190 137L95.3776 163.536L0 134.421Z" fill="#4E5EFF" fill-opacity="0.35")
              path(d="M77.1484 1L59.9997 11.1205V31.3616V51.1809V71.0003L77.1484 81.6831L94.5782 91.8036V112.326L77.2889 101.924L59.9997 91.5225V112.326L77.3358 122.446L94.6719 132.567L112.008 142.687L130 132.567V112.326L112.008 121.603V101.924L130 91.5225V72.1248L112.008 81.6831L94.5782 71.536L77.1484 61.3888V41.0946L94.5782 50.9872L112.008 61.7949L130 51.6026V31.3616L112.289 21.1872L94.5782 11.0129L77.1484 1Z" fill="#4E5EFF")
              path(d="M130 31.3616V51.6026L112.008 61.7949M130 31.3616L112.008 41.0946M130 31.3616L112.289 21.1872M59.9997 11.1205L77.1484 1L94.5782 11.0129M59.9997 11.1205V31.3616M59.9997 11.1205L77.2889 20.9599M59.9997 31.3616L77.1484 41.0946M59.9997 31.3616V51.1809M112.008 61.7949L94.5782 50.9872M112.008 61.7949V41.0946M77.1484 81.6831L59.9997 71.0003V51.1809M77.1484 81.6831V61.3888M77.1484 81.6831L94.5782 91.8036M77.1484 41.0946V61.3888M77.1484 41.0946L94.5782 50.9872M77.1484 41.0946L77.2889 20.9599M112.008 81.6831L130 72.1248V91.5225L112.008 101.924M112.008 81.6831L94.5782 71.536M112.008 81.6831V101.924M77.1484 61.3888L59.9997 51.1809M77.1484 61.3888L94.5782 71.536M112.008 101.924V121.603M112.008 101.924L94.5782 91.8036M112.008 121.603L130 112.326V132.567L112.008 142.687M112.008 121.603L94.5782 112.326M112.008 121.603V142.687M94.5782 91.8036V112.326M94.5782 91.8036V71.536M94.5782 112.326L94.6719 132.567M94.5782 112.326L77.2889 101.924M112.008 142.687L94.6719 132.567M94.6719 132.567L77.3358 122.446M77.2889 101.924L59.9997 91.5225V112.326L77.3358 122.446M77.2889 101.924L77.3358 122.446M94.5782 50.9872L94.6719 31.3616M112.008 41.0946L94.6719 31.3616M94.6719 31.3616L77.2889 20.9599M94.6719 31.3616L112.289 21.1872M77.2889 20.9599L94.5782 11.0129M94.5782 11.0129L112.289 21.1872" stroke="black")
              path(d="M130 71.8439V51.6028L112.008 61.7233L94.5782 51.0406L77.1484 41.2012V61.3741L94.5782 71.5627L112.008 81.6833V101.952V121.603V142.688L130 132.567V112.326V91.5227V71.8439Z" fill="white")
              path(d="M77.1484 101.952L94.5782 112.326V91.8038L77.1484 81.6833L59.9997 71.0005V91.5227L77.1484 101.952Z" fill="white")
              path(d="M130 51.6028L129.755 51.167L130.5 50.7479V51.6028H130ZM94.5782 71.5627L94.3271 71.9951L94.3258 71.9944L94.5782 71.5627ZM94.5782 51.0406L94.824 50.6052L94.8318 50.6096L94.8394 50.6143L94.5782 51.0406ZM77.1484 41.2012H76.6484V40.3447L77.3942 40.7658L77.1484 41.2012ZM77.1484 61.3741L76.896 61.8057L76.6484 61.6609V61.3741H77.1484ZM77.1484 101.952L76.8926 102.382L76.8886 102.38L77.1484 101.952ZM94.5782 112.326H95.0782V113.205L94.3224 112.756L94.5782 112.326ZM94.5782 91.8038L94.8292 91.3714L95.0782 91.5159V91.8038H94.5782ZM59.9997 71.0005H59.4997V70.0999L60.2641 70.5761L59.9997 71.0005ZM59.9997 91.5227L59.7399 91.9499L59.4997 91.8038V91.5227H59.9997ZM130 132.567H130.5V132.859L130.245 133.003L130 132.567ZM112.008 142.688L112.253 143.123C112.098 143.21 111.909 143.209 111.756 143.119C111.602 143.029 111.508 142.865 111.508 142.688H112.008ZM130.5 51.6028V71.8439H129.5V51.6028H130.5ZM130.24 72.2826L112.248 82.122L111.768 81.2446L129.76 71.4052L130.24 72.2826ZM111.508 81.6833V61.7233H112.508V81.6833H111.508ZM111.763 61.2876L129.755 51.167L130.245 52.0386L112.253 62.1591L111.763 61.2876ZM111.757 82.1157L94.3271 71.9951L94.8292 71.1304L112.259 81.2509L111.757 82.1157ZM94.0782 71.5627V51.0406H95.0782V71.5627H94.0782ZM94.8394 50.6143L112.269 61.297L111.747 62.1496L94.3169 51.4669L94.8394 50.6143ZM94.3324 51.476L76.9026 41.6366L77.3942 40.7658L94.824 50.6052L94.3324 51.476ZM77.6484 41.2012V61.3741H76.6484V41.2012H77.6484ZM77.4007 60.9424L94.8305 71.1311L94.3258 71.9944L76.896 61.8057L77.4007 60.9424ZM130.5 91.5227V112.326H129.5V91.5227H130.5ZM130.229 112.77L112.237 122.048L111.779 121.159L129.771 111.882L130.229 112.77ZM111.508 121.603V101.952H112.508V121.603H111.508ZM111.757 101.52L129.749 91.0901L130.251 91.9552L112.259 102.385L111.757 101.52ZM77.4041 101.523L94.8339 111.896L94.3224 112.756L76.8927 102.382L77.4041 101.523ZM94.0782 112.326V91.8038H95.0782V112.326H94.0782ZM94.3271 92.2362L76.8973 82.1157L77.3994 81.2509L94.8292 91.3714L94.3271 92.2362ZM76.884 82.1077L59.7353 71.4249L60.2641 70.5761L77.4127 81.2589L76.884 82.1077ZM60.4997 71.0005V91.5227H59.4997V71.0005H60.4997ZM60.2595 91.0955L77.4082 101.525L76.8886 102.38L59.7399 91.9499L60.2595 91.0955ZM130.5 71.8439V91.5227H129.5V71.8439H130.5ZM111.508 101.952V81.6833H112.508V101.952H111.508ZM130.5 112.326V132.567H129.5V112.326H130.5ZM130.245 133.003L112.253 143.123L111.763 142.252L129.755 132.131L130.245 133.003ZM111.508 142.688V121.603H112.508V142.688H111.508ZM77.6484 81.6833V91.8179H76.6484V81.6833H77.6484ZM77.6484 91.8179V101.952H76.6484V91.8179H77.6484Z" fill="black")
            ul.contact__info
              li 
                a(href="").contact__link 
                  +cube
                  ="(205) 555-0100"
              li 
                a(href="").contact__link 
                  +cube
                  ="Matt Steward@gmail.com"
              li 
                a(href="").contact__link 
                  +cube
                  ="2715 Ash Dr. San Jose, South Dakota 83475"
    include components/footer.pug